.youtube-video {
    width: 300px;
    display: inline-block;
    vertical-align:top;
    margin:5px;
}

.thumbnail {
    width: 300px;
    height: auto;
    display: block;

}

.channel-picture{
    width:50px;
    display:inline-block;
    height:50px;
    vertical-align:top;

}
.profile-pic {
    border-radius: 50%;
    display:inline-block;
    width:40px;


}
.video-info{
    display:inline-block;
    width:200px;
}

.youtube-caption {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    margin: 0;
    display: inline-block;
    line-height:20px;
    font-weight:500;
    letter-spacing:normal;

}

.poster {
    font-size: 14px;
    color: gray;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.checkmark {
    background-color: rgb(91, 89, 89);
    border-radius: 50%;
    color: white;
    font-size: 7px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.info {
    font-size: 14px;
    color: gray;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;

}